$app-primary-color: #0B0C10;
$app-secondary-color: #88C454;
$app-background-color: #1F2833;
$app-text-color: #C5C6C7;
$app-title-color: #FFFFFF;

$app-error-color: #ff575c;

$app-radio-primary-color: rgba($app-primary-color, 0.5);
